<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<title>Catalogo</title>
</head>
<body>
<div class="container">
			<form th:action="@{/persona/lugar}" method="post" class="form-group" th:object=${persona}>
				<div class="form-group">
	<h3>Agrega un lugar</h3> 
					<label for="nombreLugar">Nombre</label>
					<input type="text" class="form-control" id="nombreLugar" name="nombreLugar" th:field="*{nombreLugar}"/>				
				</div>
				<div class="form-group">
					<label for="ubicacion">Ubicacion</label>
					<input type="text" class="form-control" id="ubicacion" name="ubicacion" th:field="*{ubicacion}"/>				
				</div>
				<div class="form-group">
				<!--  select ??  -->
					<label for="categoria">Categoria</label>
					<input type="text" class="form-control" id="password" name="password" th:field="*{categoria}"/>	
					<!--<select class="form-select" aria-label="Default select example">
					  <option selected>Selecciones la categoria a la que pertenece su local</option>
					  <option value="1">Farmacias</option>
					  <option value="2">Bibliotecas</option>
					  <option value="3">Restaurantes</option>
					</select>  -->
								
				</div>
				<div class="form-group">
					<label for="contactos">Contactos</label>
					<input type="text" class="form-control" id="contactos" name="contactos" th:field="*{contactos}"/>				
				</div>
				<div class="form-group">
					<label for="horarios">Horarios</label>
					<input type="text" class="form-control" id="horarios" name="horarios" th:field="*{horarios}"/>				
				</div>
				<div class="custom-file mb-4">
			        <label for="foto">Agregar foto</label>
				    <input type="file" name="foto" class="custom-file-input" id="foto"> 
				    <label class="custom-file-label"for="foto">foto</label>
			    </div>	
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
			</div>
</body>
</html>